<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RandomMaker.My.MySettings.masterConnectionString" connectionString="Data Source=DESKTOP-ON2I5N1\MSSM;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RandomMaker.My.MySettings.db2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db2.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<appSettings>
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings></configuration>